<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" routerLink="dashboard">Estacionamento Benner</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="estacionamentos">Estacionamentos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="veiculos">Veiculos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="precos">Precos</a>
        </li>

      </ul>

    </div>
  </div>

</nav>
